name: Update Flake

on:
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch: # Allow manual trigger

jobs:
  update-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update flake.lock
        run: |
          nix flake update --flake ./nixos
          nix flake update --flake ./.config/home-manager

      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: 'flake: update inputs'
          title: 'flake: update inputs'
          body: |
            Automated flake.lock update.

            This PR will be automatically merged if all checks pass.
          branch: flake-update
          delete-branch: true
          sign-commits: true

      - name: Enable auto-merge
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        run: gh pr merge --auto --squash flake-update
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
