name: Build Home Manager Configuration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build home-manager configuration
      run: nix build --dry-run ./.config/home-manager#homeConfigurations.nicolas.activationPackage
